
.contenido {
  max-width: 600px;
  margin-left: 80px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: white;
}

.descripcion {
  margin-top: 20px;
  font-size: 1.3rem;
  color: #d1d1d1;
}

.btn-primary {
  margin-top: 30px;
  width: 60%;
  padding: 18px;
  background-color: rgba(0, 128, 85, 0.10);
  border-radius: 12px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;

}

.btn-primary:hover{
  background-color: rgba(20, 60, 40, 1)
}

.btn-secondary {
  margin-top: 20px;
  width: 60%;
  padding: 18px;
  background-color: rgba(255,255,255,0.05);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.1);
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

.btn-secondary:hover{
  background-color: rgba(20, 60, 40, 1)
}

.mini-text {
  font-size: 0.9rem;
  opacity: 0.8;
}

.logos {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-final {
  margin-top: 20px;
  font-size: 1rem;
  color: #cccccc;
}

.texto-final span {
  color: #6bbf28;
}